/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1e3050;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #CAD9E3;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    padding-left: 1rem;
    font-weight: bold;
    color: #1e3050;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #CAD9E3;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #526D82;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/dgpersonalportfolioheroimage.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(35, 206, 250, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 75%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #1e3050;
}

/* Why me section */
#why-me {
    width: 90%;
    margin: 20px auto;
    color: #ffffff
}

#why-me h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#brand-potential>div,
#creative-connection>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#why-me-div p {
    padding: 0 20px;
}

#why-me-div hr {
    border-top: 1px solid #ffffff;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url('../images/dgpersonalportfolimage2.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#why-me-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Home skills list section */
#focus {
    background: url(../images/dgpersonalportfoliocityscape1.webp) no-repeat center/cover;
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#focus div {
    color: #fafafa;
    background-color: rgb(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of skill list divs over the background image */
    border: 2px solid #526D82;
}

#focus h3 {
    /* Override the heading colour set in general styles */
    color: #fafafa;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
    cursor: pointer;
}

#photos {
    line-height: 0;
}

/* The modals */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Show modal when targeted */
.modal:target {
    display: flex;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    color: #000
}

.modal-close {
    position: absolute;
    top: -10%;
    right: 0%;
    font-size: 3rem;
    color: #1e3050;
    text-decoration: none;
    z-index: 1;
}

/* Position the text over the image */
.modal-text {
    position: absolute;
    bottom: -2.5%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    border-radius: 10px;
    white-space: nowrap;
    /* Ensure the text does not wrap to the next line */
    display: none;
    /* Initially hidden */
}

.modal:target .modal-text {
    display: block;
    /* or display: inline; */
}

/* Ensure modal content is centered */
.modal-content {
    text-align: center;
}

/* Ensure images fit within the modal */
.modal-content img {
    max-width: 100%;
    max-height: 100%;
}

/* Hide scrollbar on body when modal is open */
body.modal-open {
    overflow: hidden;
}

/* Form */
#contact-me {
    background-image: url("../images/dgpersonalportfoliocontact.webp");
    background-size: cover;
    background-position: 60%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #1e3050;
    background-color: rgba(255, 255, 255, .6);
    font-weight: bold;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#contact-form>h2 {
    color: #1e3050;
    margin-bottom: 20%;
}

.text-input {
    background: transparent;
    color: #1e3050;
    height: 3%;
    margin: 5px 0 20px 0;
    border: 2px solid #1e3050;
    border-radius: 2px;
    padding: 0 5px;
    width: 75%;
    transition: background-color 0.3s ease;
    border-color: #3a3a3a;
}

/* Apply white background when input is focused */
.text-input:focus {
    background-color: #ffffff;
}

.message-field {
    background: transparent;
    color: #1e3050;
    border: 2px solid #1e3050;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
    height: 4em;
    transition: background-color 0.3s ease;
}

/* Apply white background when input is focused */
.message-field:focus {
    background-color: #ffffff;
}

/* Custom radio buttons */
.radio-buttons {
    display: flex;
    flex-direction: column;
}

.radio-buttons div {
    margin-bottom: 10px;
}

/* Hide the default radio button */
.radio-buttons input[type="radio"] {
    display: none;
}

/* Style the custom radio button */
.radio-buttons label {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.radio-buttons label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #1e3050;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

/* Change the background color of the custom radio button when checked */
.radio-buttons input[type="radio"]:checked+label:before {
    background-color: #1e3050;
    /* Change to desired color */
}

/* Style the indicator dot/circle */
.radio-buttons label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fafafa;
    /* Change to desired color */
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
}

/* Show the indicator dot/circle when radio button is checked */
.radio-buttons input[type="radio"]:checked+label:after {
    opacity: 1;
}

.contact-button {
    margin-top: 20px;
    border-radius: 2px;
    border-color: #39546d;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #1e3050;
    color: #fafafa;
}

/* Footer */
footer {
    background-color: #27374D;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }

    .modal-content {
        max-width: 80%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        margin: 0 5px;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero */
    #cover-text {
        width: 475px;
        right: 50px;
    }

    /* Why me section */
    #brand-potential,
    #creative-connection {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #brand-potential>div,
    #creative-connection>div {
        width: 75%;
    }

    #creative-connection>div {
        text-align: end;
        align-self: flex-end;
    }

    /* Gallery */
    #photos {
        column-count: 3;
        column-gap: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-item {
        flex: 0 0 33.33%;
    }

    .modal-content {
        max-width: 80%;
        max-height: 80%;
    }

    .modal-close {
        top: -5%;
        right: 0.5%;
    }

    /* Show the text when the modal is open */
    .modal:target .modal-text {
        display: block;
    }

    .modal-text {
        bottom: 1%;
        left: 20%;
        transform: translateX(-50%);
        font-size: 1rem;
    }

    /* Contact Form */
    #contact-me {
        background-position: center;
        position: relative;
    }

    #contact-form {
        max-width: 70%;
        position: absolute;
        left: 10%;
        top: 5%;
        bottom: 5%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #menu>li {
        padding-left: 1.5rem;
        margin: 0 10px;
    }

    /* Gallery */
    #photos {
        column-count: 4;
        column-gap: 0;
    }

    .modal-close {
        top: -3%;
        right: 0%;
    }

    .modal-text {
        bottom: 1.2%;
        left: 7.2%;
        transform: translateX(-50%);
        font-size: 1rem;

    }

    /* Contact Form */
    #contact-me {
        background-position: center;
        position: relative;
    }

    #contact-form {
        max-width: 35%;
        position: absolute;
        left: 10%;
        top: 10px;
        bottom: 10px;
    }

    .text-input:hover {
        border-color: #00D8FF;
        cursor: pointer;
        /* Pointer/hand icon */
    }

    .message-field:hover {
        border-color: #00D8FF;
        cursor: pointer;
        /* Pointer/hand icon */
    }

    .contact-button:hover {
        background-color: #35516F;
        color: #CAD9E3;
        cursor: pointer;
        /* Pointer/hand icon */
    }
}

@media screen and (min-width: 1200px) {

    /* Why me section */
    #why-me-div {
        display: flex;
        flex-direction: row;
    }

    #why-me-div>div {
        flex: 1;
    }

    #why-me-image {
        order: 0
    }

    #creative-connection {
        order: 1;
    }

    #creative-connection>div {
        align-self: flex-start;
    }

    #brand-potential>div {
        align-self: flex-end;
    }
}

/* Media query for landscape orientation */
@media screen and (orientation: landscape) and (max-width: 1024px) {

    /* Your styles for landscape orientation devices */
    .modal-text {
        /* Example style adjustment */
        bottom: 1.5%;
        left: 12%;
        transform: translateX(-50%);
    }
}

/* New CSS for invisible 'x' closer */
.modal-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    /* Hide the 'x' closer text */
    z-index: 2;
    /* Ensure the closer is above other content */
}